body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: gray;
}

h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px #e6e6e6;
}

h1 {
    color: #808080;
    font-size: 10vmin;
}

h3 {
    color: #4d4d4d;
    font-size: 8vmin;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.lghttxt {
    color: #cccccc;
}

.clrtxt {
    color: #8099b3;
}

/*
=====================
Begin navbar settings
=====================
*/

.navbar {
    font-size: .7em;
    font-weight: 300;
    border-width: 0px;
    background-color: rgba(0,0,0,0.0);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    text-shadow: 1px 1px 6px black;
    text-transform: uppercase;
}

.nav.navbar-nav li a {
    color: white;
    text-shadow: 1px 1px 6px black;
    text-transform: uppercase;
}

.navbar-toggle {
    border: none;
    outline: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    box-shadow: 1px 1px 6px #515151;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: rgba(0,0,0,0.05);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: white;
    background-color: rgba(0,0,0,0.05);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(0,0,0,0.05);
}

.navbar-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all .6s;
}

#brand {
    display: flex;
    font-size: 1.2em;
}

#p1,#p2,#p3,#p4,#p5 {
    color: #cccccc;
}

#p7,#p8,#p9,#p10 {
    color: #f2f2f2;
}

/*
===================
End navbar settings
===================
*/

video {
    object-fit: cover;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    min-height: 100%;
    padding-top: calc(50px + 3%);
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    justify-content: flex-end;
}

#about {
    background-color: #f0f2f4;
}

#work {
    background-color: #e2e6e9;
}

#contact {
    background-color: #d3d9de;
    min-height: initial;
}

.padded {
    padding: 5%;
}

.skills {
    display: inline;
    font-size: 1.3em;
    padding: 1em;
    font-weight: 100;
}

img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    transition: all .1s;
    width: 80%;
}

img:hover {
    box-shadow: 2px 10px 20px rgba(0,0,0,0.19), 2px 6px 6px rgba(0,0,0,0.23);
    transform: scale(1.02,1.02);
    transition: all .1s;
}

i {
    padding: 5%;
    border-radius: 50%;
    border: .7vmin solid;
    margin-bottom: 2%;
    font-weight: 100;
    color: #8a99a8;
}

i:hover {
    transform: scale(1.05,1.05);
    transition: all .1s;
    color: gray;
}

.fa {
    font-size: 8vmin;
}

.bttm1 {
    margin-bottom: 2%;
}

.bttm2 {
    margin-bottom: 5%;
}

@media screen and (max-width: 767px) {
    img {
        width: 100%;
    }
}